<header
	class="o-header-services o-layout__header"
	data-o-component="o-header-services"
>
	<div class="o-header-services__top o-header-services__container">
		<!-- Link to a fallback nav for the core experience when using a drawer and hamburger icon. -->
		<div class="o-header-services__hamburger">
			<a
				class="o-header-services__hamburger-icon"
				href="#core-nav-fallback"
				role="button"
			>
				<span class="o-header-services__visually-hidden"
					>Open primary navigation</span
				>
			</a>
		</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">
				Origami Build Service
			</a>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			{{#navigation.items}}
			<li {{#if subnav}}data-o-header-services-level="1" {{/if}}>
				<a
					class="o-header-services__nav-link"
					href="/__origami/service/build/{{href}}"
					{{#current}}aria-current="page"{{/current}}
					>{{name}}</a
				>{{#each subnavItems}}{{#if @first}}<!--
				--><button
					class="o-header-services__drop-down-button"
					type="button"
					name="button"
					aria-label="Toggle &quot;{{#if ../label}}{{../label}}{{else}}{{../name}}{{/if}}&quot; dropdown menu"
				></button>
				<ul data-o-header-services-level="2" aria-hidden="true">
					{{/if}}
					<li>
						<a {{#label}}aria-label="{{.}}"{{/label}} href="/__origami/service/build/{{href}}">{{name}}</a>
					</li>
					{{#if @last}}
					<li>
						<button
							class="o-header-services__visually-hidden"
							type="button"
							name="button"
						>
							Close "{{#if ../label}}{{../label}}{{else}}{{../name}}{{/if}}" dropdown menu
						</button>
					</li>
				</ul>
				{{/if}} {{/each}}
			</li>
			{{/navigation.items}}
		</ul>
	</nav>
	{{{message}}}
</header>
