<nav class="o-layout__navigation">
	<ol class="o-layout__unstyled-element">
		<li class="o-layout__unstyled-element o-layout__navigation-title">
			<a class="o-layout__unstyled-element" href="#how-to-use-the-build-service">
				How to use the Build Service
			</a>
		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#quick-start">Quick start</a>
		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#how-the-build-service-works">How the build service works</a>
		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#api-reference">API reference</a>
		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#deprecation">Deprecation</a>
		</li>
	</ol>
</nav>
