<nav class="o-layout__navigation">
	<ol class="o-layout__unstyled-element">
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#quick-start" aria-current="false">Quick start</a>

		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#how-the-build-service-works" aria-current="location">How the
				build service works</a>

		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#api-reference" aria-current="false">API reference</a>

		</li>
		<li class="o-layout__unstyled-element ">
			<a class="o-layout__unstyled-element" href="#deprecation" aria-current="false">Deprecation</a>

		</li>
	</ol>
</nav>
