/appversion
node_modules
bower_components
*.sublime*
compiler-*.zip
compiler.jar
.sass-cache
buildservice-dist.tar.*
lib-cov
html-report
docs/public
appversion.js
puppet/files/source.tar.gz
Vagrantfile
.vagrant
puppet/pkg
.Dockerfile*
npm-debug.log
coverage
