<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script>
		var script = document.createElement('script');
		var supportsDeferredScripts = "defer" in script && "async" in script;
		window.cutsTheMustard = (typeof document.documentElement.dataset === 'object' && ('visibilityState' in document) && supportsDeferredScripts);
		if (window.cutsTheMustard) {
			document.documentElement.classList.replace('core', 'enhanced');
		}
	</script>

	<style>
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
		html {
			font-family: BentonSans, sans-serif;
			overflow-x: hidden;
		}
		body {
			margin: 0;
		}
	</style>

	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-layout%40%5E4.2.0%2Co-fonts%40%5E4.4.2%2Co-syntax-highlight%40%5E3.0.8%2Co-table%40%5E8.1.4%2Co-forms%40%5E8.4.1%2Co-buttons%40%5E6.2.0%2Co-header-services%40%5E4.0.15%2Co-footer-services%40%5E3.3.0,o-labels%40%5E5.1.4,o-message%40%5E4.2.4,o-normalise%40%5E2.0.7,o-spacing%40%5E2.1.0&brand=internal" />
	<link rel="stylesheet" href="/main.css" />

	<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
	<script>
		(function(src) {
			if (window.cutsTheMustard) {
				script.async = script.defer = true;
				script.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(script, s);
			}
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-layout%40%5E4.2.0%2Co-fonts%40%5E4.4.2%2Co-syntax-highlight%40%5E3.0.8%2Co-table%40%5E8.1.4%2Co-forms%40%5E8.4.1%2Co-buttons%40%5E6.2.0%2Co-header-services%40%5E4.0.15%2Co-footer-services%40%5E3.3.0,o-labels%40%5E5.1.4,o-message%40%5E4.2.4,o-normalise%40%5E2.0.7,o-spacing%40%5E2.1.0&brand=internal'));
	</script>

</head>
<body data-o-component="o-syntax-highlight">
	<div class="o-layout {{layoutStyle}}" data-o-component="o-layout">
		{{> header}}

		{{{body}}}

		{{> footer}}
	</div>
</body>
</html>
