<div class="o-layout__hero o-layout-typography">
	<h1>Components built and delivered.</h1>
</div>

<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
	<div class="o-layout__overview">
		<div class="o-layout-item">
			<h3>What is it?</h3>
			<p>
				The Origami Build Service is a way to integrate Origami components into a website with a single script and link tag.
			</p>
		</div>
		<div class="o-layout-item">
			<h3>Why do I need it?</h3>
			<p>
				If you are wanting to build a website with Origami components and are not wanting to involve a compilation step in your development workflow.
			</p>
		</div>
	</div>
</div>
