<p>Your Origami Build Service URL includes outdated components, some are a major version behind the latest release:

<ol>
    <li>
        <p>To upgrade, start by using the below Origami Build Service url which requests the same components but with updated version numbers, and includes the latest version of <a href="https://registry.origami.ft.com/components/o-autoinit@2.0.7/readme?brand=master">o-autoinit</a>:</p>
        <pre><code>{{updatedBuildServiceUrl}}</code></pre>
    </li>
    {{#if missingParamWarnings}}
    <li>
        <p>Next, add the following missing query parameter(s) to the above request – see the <a href="v3/docs/api">Origami Build Service API documentation</a> for details:</p>
        <ul>
            {{#missingParamWarnings}}
            <li>{{.}}</li>
            {{/missingParamWarnings}}
        </ul>
    </li>
    {{/if}}
</ol>

<p>No code changes should be required 🎉 However the Origami team are here to help
    via Slack <a href="https://slack.com/messages/C02FU5ARJ/">#origami-support</a>
    or email <a href="mailto:origami.support@ft.com">origami.support@ft.com</a> if you have any problems.
</p>

<details class="o-spacing-s6">
    <summary>
        For reference, here is a list of components with major releases including links to their migration guides.
    </summary>
    <p>These releases add support for <a href="/v3/docs/api">v3</a> of the Origami Build Service and should not require code changes.</p>
    <ul>
    {{#results}}
        {{#if belowLatestMajorRelease}}
            <li>
                <a href="https://github.com/Financial-Times/{{ name }}/blob/master/MIGRATION.md">{{ name }}@^{{ lastBowerMajor }}</a>
            </li>
        {{/if}}
    {{/results}}
    </ul>
</details>
