<p>
    To upgrade, use the below Origami Build Service URL which requests the same components but with updated version numbers, and ensures <a href="https://registry.origami.ft.com/components/o-autoinit@2.0.7/readme?brand=master">o-autoinit</a> is included.
</p>

<pre><code>{{updatedBuildServiceUrl}}</code></pre>

<p>
    If you have any issues/questions the Origami team are here to help
    via Slack <a href="https://slack.com/messages/C02FU5ARJ/">#origami-support</a>
    or email <a href="mailto:origami.support@ft.com">origami.support@ft.com</a> 😊.
</p>
